{% extends 'base.html' %}

{% block title %} {{title}}!  {% endblock %}

{% block tablehead%}


 {% endblock %}

{% block testingremove %}

<div class=" post_content col-6">
    <div class="row justify-content-center">
        <img class="icon mt-3" src={{image_url}} />



    </div>
    <h6 class="edit_link post_text mt-3 "> {{content}}</h6>


    <div class=" checkboxgroup  fun m-2 p-3 mb-4">
        <!--<label for="lname"> Amount to convert:</label><br>-->

        <div class="row justify-content-center">
            <p class="display">{{specified_user[0].first_name}} {{specified_user[0].last_name}}</p>



        </div>
        <div class="row justify-content-center">
            <img class="icon" src={{specified_user[0].image_url}} />



        </div>







    </div>


</div>


<div class=" row justify-content-center ">
    <!--<label for="response" class="form-control shadow m-3"></label>-->

    


    <div class=" col-8 checkboxgroup   p-3">
        <!--<label for="lname"> Amount to convert:</label><br>-->
        <div class="row justify-content-center">
            <!--<ul>-->

            <li class="nav-item dropdown  btn btn-success  shadow">
                <a class="nav-link dropdown-toggle  edit_link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                    <div class="row justify-content-center">
                        <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/posts/{{specified_post[0].id}}/edit">Edit Post</a></button>
                    </div>
                    <section>
                        <form method="GET" action="#" id="delete">
                            <div class=" col-12 checkboxgroup   p-3">

                                <div class="row justify-content-center">
                                    <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/delete/post/{{specified_post[0].id}}">Delete Post</a></button>
                                </div>

                            </div>

                        </form>
                    </section>
                    <div class="row justify-content-center">
                        <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/">Users List</button>
                    </div>

                </div>
            </li>

            <!--</ul>-->
        </div>

    </div>



</div>


    {% endblock %}



{% block insert_edit %}

<h6> submitted by {{specified_user[0].first_name}} at {{created_at}}</h6>
<!--<ul>

    <li class="nav-item dropdown btn btn-success  shadow">
        <a class="nav-link dropdown-toggle edit_link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% block dropdown_link_description %} Options {% endblock %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="row justify-content-center">
                <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/edit/{{id}}">Edit User</a></button>
            </div>
            <section>
                <form method="GET" action="/delete/{{id}}" id="delete">
                    <div class=" col-12 checkboxgroup   p-3">

                        <div class="row justify-content-center">
                            <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/delete/{{id}}">Delete User</a></button>
                        </div>

                    </div>

                </form>
            </section>
            <div class="row justify-content-center">
                <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/">Users List</button>
            </div>
            <a class="dropdown-item" href={% block dropdown_link_1 %}#{% endblock %}>{% block dropdown_desc_1 %} link1 {% endblock %}</a>
            <a class="dropdown-item" href={% block dropdown_link_2 %}#{% endblock %}>{% block dropdown_desc_2 %} link2 {% endblock %}</a>
            <a class="dropdown-item" href={% block dropdown_link_3 %}#{% endblock %}>{% block dropdown_desc_3 %} link3 {% endblock %}</a>
        </div>
    </li>

</ul>-->
<!--<section>

    <form method="GET" action="/edit/{{id}}" id="edit">
        <div class=" col-12 checkboxgroup   p-3">-->
<!--<label for="lname"> Amount to convert:</label><br>-->
<!--<div class="row justify-content-center">
                <button class="btn btn-success  shadow" id=btn type="submit"><a class="edit_link" href="/edit/{{id}}">Edit User</a></button>
            </div>

        </div>

    </form>
</section>-->
{% endblock %}


{% block point_tracker %}
<!--<section>
    <form method="GET" action="/delete/{{id}}" id="delete">
        <div class=" col-12 checkboxgroup   p-3">-->
<!--<label for="lname"> Amount to convert:</label><br>-->
<!--<div class="row justify-content-center">
                <button class="btn btn-success  shadow" id=btn type="submit">Delete User</button>
            </div>

        </div>

    </form>
</section>-->
{% endblock %}


{% block form_action%} <form method="GET" action="/users"> {% endblock %}
